h1, h2{
    text-align: center;
}
form {
    width: 500px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 20px;
    display: grid;
}
.alert{
    width: 500px;
    border-radius: 5px;
    margin: 20px auto; 
    padding: 10px;       
}
.alert-danger{
    background-color: #e24141;
}
.alert-success{
    background-color: #4caf50;
}
.alert ul{
    text-align: center;
    list-style: none;
}
.alert ul li{
    margin-left: -40px;
    color: #fff;
}
.alert h3{
    color: #fff;
    text-align: center;
}